---
import { CollectionEntry, getCollection } from "astro:content";
import MasterLayout from "../../layouts/MasterLayout.astro";
import DateFormatter from "../../components/DateFormatter.astro";

export async function getStaticPaths() {
  const posts = await getCollection("store");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<MasterLayout {...post.data}>
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-12 mb-4 col-md-4">
        {
          post.data.heroImage.url && (
            <img
              width={"100%"}
              src={post.data.heroImage.url}
              alt="{post.data.heroImage.alt}"
            />
          )
        }
      </div>
      <div class="col-sm-12 col-md-8 bg-white p-5">
        <article>
          <div class="mb-5">
            <h1 class="mb-0">
              {post.data.title}
            </h1>
            <a href={post.data.affiliateLink} target="_blank" class="btn btn-warning btn-lg">Buy Now From Amazon</a>
          </div>
      
          <Content />
      
          <hr />
      
          <p>Post Tags:</p>
          <div>
            {post.data.tags && post.data.tags.map((tag) => <div><a href={`/tags/${tag}`}>#{tag}</a></div>)}
          </div>
        </article>
      </div>
    </div>
  </div>
</MasterLayout>
